/* navbar */
.nav {
  padding: 14px 0;
  background-color: var(--primary);
}

/* nav wrapper */
.nav .wrapper {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
}

/* nav logo */
.nav__logo {
  width: 45px;
  height: 32px;
  margin-right: 16px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

/* nav logo light */
.nav__logo--light {
  background-image: url("../../../assets/logo-light.svg");
}

/* nav Hamburger */
.nav__hamburger {
  width: 26px;
  height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
  cursor: pointer;
}

.nav__hamburger span {
  width: 100%;
  height: 0.15rem;
  background-color: white;
}

/* nav desktop */
.nav__desktop {
  display: none;
  font-family: Mulish;
  font-weight: 600;
  margin-right: 20px;
}

/* nav auth login */
.nav__auth {
  display: none;
  padding: 18px 20px;
  background: var(--primary-dk);
}

/* nav login button */
.nav__login::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  margin-right: 14px;
  background-image: url("../../../assets/person-vector.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.desk-nav-container {
  display: none;
}

@media screen and (min-width: 1240px) {
  .nav {
    padding: 0 20px;
    background-image: linear-gradient(
      to right,
      var(--primary) 50%,
      var(--primary-dk) 50% 100%
    );
  }
  .nav__desktop {
    display: inline-block;
  }

  .nav .wrapper {
    padding: 0;
    margin: 0 auto;
  }

  .nav__logo {
    width: 70px;
    height: 46.67px;
  }

  .nav__hamburger {
    display: none;
  }

  .nav__auth {
    display: block;
  }

  .desk-nav-container {
    display: flex;
    align-items: center;
  }
}
