.about-section {
  padding: 50px 0;
}

.about-section .wrapper {
  max-width: 380px;

  margin: 0 auto;
}

.about-section__heading {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  line-height: 130%;
  color: #050302;
}

.about-section .img-container {
  position: relative;
  overflow: hidden;
}

.about-section__img {
  width: 100%;
}

.about-section__img.desk {
  display: none;
}

.about-section__img__fade {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 20% 80%,
    rgb(255, 255, 255) 100%
  );
}

@media screen and (min-width: 700px) {
  .about-section .wrapper {
    max-width: 720px;
    max-height: 558px;
    display: flex;
    align-items: center;
    column-gap: 30px;
  }

  .about-section__heading,
  .about-section .img-container {
    flex: 1;
  }
}

@media screen and (min-width: 1260px) {
  .about-section .wrapper {
    max-width: 1260px;
  }

  .about-section__heading {
    font-size: 50px;
    line-height: 130%;
  }

  .about-section__img.mob {
    display: none;
  }

  .about-section__img.desk {
    display: block;
  }

  .about-section .img-container {
    height: 558px;
  }

  .about-section__img__fade {
    background-image: linear-gradient(
      rgb(255, 255, 255),
      rgba(255, 255, 255, 0) 20% 80%,
      rgb(255, 255, 255) 100%
    );
  }
}
