.navBanner__grid__card {
  position: relative;
  cursor: pointer;
  border-radius: 8px 8px 0 0;
}

.bg-vl-blue {
  background-color: var(--vl-blue);
}

.navBanner__grid__card .container {
  display: flex;
  padding: 12px 20px;
  border-radius: 8px 8px 0 0;
}

.navBanner__grid__card img {
  display: block;
  width: 34px;
  height: 34px;
  margin-right: 12px;
}

.navBanner__grid__card__h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-700);
}

.navBanner__grid__card__p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: var(--gray-500);
}
