.award-section {
  padding: 40px 0 50px;
  background-color: var(--vl-blue);
}

.award-section .wrapper {
  margin: 0 auto;
}

.award-section__heading {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: var(--text-dark);
}

.award-section .underline {
  margin: 0 auto 8px;
  width: 30px;
  height: 2px;
  background: #050302;
  opacity: 0.5;
  border-radius: 5px;
}

.award-section .img-container {
  text-align: center;
}

.award-section__img {
  width: 71.5px;
  height: 55px;
  margin: 24px 10px 0;
}

@media screen and (min-width: 1260px) {
  .award-section {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .award-section__heading {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .award-section .underline {
    width: 56px;
    margin-bottom: 40px;
  }

  .award-section .img-container {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  .award-section__img {
    margin-top: 0;
    width: 130px;
    height: 100px;
  }
}
